<body>
<div class="people">
    <div class="width">
        <h1>Posts</h1>

        <table class="people-table">
            <thead class="person-row head">
            <td class="person-row-id">ID</td>
            <td class="person-row-first">Title</td>
            <td class="person-row-last">Body</td>
            </thead>

            <thead>
            <th class="person-row">
                <div class="person-row-id">
                    {{ .post.ID }}
                </div>
            <th class="person-row-first">
                {{ .post.Title }}
            </th>
            <th class="person-row-last">
                {{ .post.Body }}
            </th>
            </th>
            </thead>

        </table>
    </div>
</div>