
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .container {
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h4 style="text-align: center">SEARCH BY USERNAME</h4>
<form action="/search" method="post">
<div class="form-group">

    <input type="text" name="username" class="form-control {{ if .validation.Username }} is-invalid {{ end }}" autocomplete="off">
    <div class="invalid-feedback">
        {{ .validation.Username }}
    </div>
</div>

<button type="submit" class="btn-primary btn-block">Search</button>
<button class="btn btn-success btn-block">
    <a href="/login">Logout</a>
</button>
</form>
<div class="container mt-5">
<h3>
    {{ if .error }}
<div class="alert alert-danger">
    {{ .error }}</div>
    {{ else }}
<br>
   Name: {{ .name }}
    <br>
    Username: {{ .username }}
    <br>
    Email: {{ .email }}
<!--    <br>-->
<!--    Pass: {{ .pass }}-->

{{ end }}
</h3>
</div>
</div>
</body>
</html>
