<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            max-width: 500px;
        }
    </style>
</head>
<body>
<div style="text-align: center" class="container mt-5">
    <h3>Welcome to home {{ .name }}!</h3>
    <br>
    <a class="btn btn-danger" href="/logout" role="button">LOGOUT</a>
    <a class="btn btn-primary" href="/search" role="button">SEARCH USERS</a>
    <a class="btn btn-warning" href="/publish" role="button">CREATE PRODUCT</a>
</div>
</body>
</html>