<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .container {
            max-width: 500px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <form action="/register" method="post">

        <h4 style="text-align: center">SIGN UP</h4>
        <hr/>


        {{ if .event }}
        <div class="alert alert-success">
            {{ .event }}
        </div>
        <hr/>
        {{ end }}

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{ .user.Name }}" class="form-control {{ if .validation.Name }} is-invalid {{ end }}">
            <div class="invalid-feedback">
                {{ .validation.Name }}
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" value="{{ .user.Email }}" class="form-control {{ if .validation.Email }} is-invalid {{ end }}">
            <div class="invalid-feedback">
                {{ .validation.Email }}
            </div>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" value="{{ .user.Username }}" class="form-control {{ if .validation.Username }} is-invalid {{ end }}">
            <div class="invalid-feedback">
                {{ .validation.Username }}
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="pass" value="{{ .user.Pass }}" class="form-control {{ if .validation.Pass }} is-invalid {{ end }}">
            <div class="invalid-feedback">
                {{ .validation.Password }}
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confpass" value="{{ .user.Confpass }}" class="form-control {{ if .validation.Confpass }} is-invalid {{ end }}">
            <div class="invalid-feedback">
                {{ .validation.Confpass }}
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">SIGN UP</button>
        <hr/>
        <center>
            <p>Already have an account? <a href="/login">SIGN IN</a></p>
        </center>
    </form>
</div>

</body>
</html>