{{ define "register" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Register

<form action="/save_data" method="post">
    <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control"> <br>
    <input type="text" name="email" id="email" placeholder="Enter your email" class="form-control"> <br>
    <input type="text" name="pass" id="password" placeholder="Enter your pass" class="form-control"> <br>
    <button class="btn btn-warning">Register</button>
    <p>Already have an account? <a href="/login">login</a></p>
</form>

</body>
</html>

{{ end }}